# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OCR Models & Data (Bunları GitHub'a yüklemeyeceğiz, script ile indireceğiz)
backend/app/core/models/

# OS
.DS_Store
Thumbs.db

# Extension
*.log